footer.bg-dark.text-white.mt-4 {
    height: 125px;
    width: 100%;
    position: relative;
    bottom:0;
}

.container-fluid.py-3 {
    height: 125px;
    width: 100%;
    position:absolute;
    bottom:0;
}